@charset "utf-8";

/* Reset */

* {margin:0;padding:0;}
html { overflow-y:scroll; overflow-x:hidden;}
html, 
body { width:100%; height:100%;}
body { background-color:#fff; *word-break:break-all; -ms-word-break:break-all;}
body,
input,
button { font-size:12px; line-height:1.3; font-family:Dotum, Helvetica, AppleGothic, Sans-serif; color:#888;}
h1, h2, h3, h4, h5, h6 { font-size:12px; text-align:left;}
img, fieldset, iframe { border:0 none; margin:0; padding:0;}
li { list-style:none;}
table { border-collapse:collapse;}
em, address{ font-style:normal;}
button,label { cursor:pointer; _cursor /**/:hand;}
button * { position:relative;}
button img { left:-3px; *left:auto;}
img,
input,
select { vertical-align:middle; font-family:dotum; color:#888;}
textarea { overflow:auto;}
hr { display:none;}
legend { *width:0;}
:root legend { margin-top:-1px;font-size:0;line-height:0;}
.clear { clear:both;}
* html input { margin-bottom:4px;}
*:first-child+html input { margin-bottom:4px;}

a { color:#737373; text-decoration:none;}
a:hover { color:#303030; text-decoration:underline;}

.hidden { visibility:hidden;}
.none { display:none;}
.block { display:block;}
.blind { display:block; overflow:hidden; position:absolute; left:-5000px; top:-5000px;}
.clear { clear:both;}